<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Sign in</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <div class="logo" text-center style="font-size:48px;color:crimson;">
        <ion-icon name="chatbubbles"></ion-icon>
    </div>
    <h2>Welcome to Boep!</h2>
    <p>You're only one page away from an awesome chat heaven!</p>
    <form (submit)="login()">
        <ion-item>
            <ion-input [(ngModel)]="username" type="text" placeholder="Username"
                       [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="password" [(ngModel)]="password" placeholder="Password"
                       [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
        <br>

        <button block ion-button>Login</button>
    </form>
    <div *ngIf="fingerPrintAvailable" text-center>
        <button (click)="useFingerprint()" ion-button outline round>
            <ion-icon name="finger-print"></ion-icon>
        </button>
    </div>

</ion-content>
