<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Create your account</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div class="logo" text-center style="font-size:48px;color:crimson;">
    <ion-icon name="chatbubbles"></ion-icon>
  </div>
  <h2>Welcome to Boep!</h2>
  <p>How great that you're finally creating your account. We hope you have fun!</p>
  <form (submit)="register()">
    <ion-item>
      <ion-input [(ngModel)]="username" type="text" placeholder="Username" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="email" [(ngModel)]="email" placeholder="Email" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" [(ngModel)]="password" placeholder="Password" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <br>

    <button block ion-button>Register</button>
  </form>
</ion-content>
