<ion-header primary>
  <ion-navbar>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="logo" text-center style="font-size:48px;color:crimson;">
    <ion-icon name="chatbubbles"></ion-icon>
  </div>
  <h2 text-center>Welcome to Boep!</h2>
  <p text-center style="display:block">
    Welcome on Boep. Here you can send simple timed messages. Where messages get booped after a short time.
    To start using Boep, you need to:
  </p>
  <div class="buttons" text-center>
    <button (click)="openRegister()" outline ion-button>Create an account</button>
    <span style="display:block;">or</span>
    <button (click)="openLogin()" outline ion-button>Sign in</button>
  </div>

</ion-content>
