<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Settings</ion-title>

    <ion-buttons end>
      <button color="crimson" ion-button>
        <span ion-text showWhen="ios">Save</span>
        <ion-icon showWhen="android, windows" name="checkmark"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h3>Change your settings</h3>
  
  <div text-center>
    <p></p>
    <img src="{{ avatar_url }}" width="100" alt="">
  </div>



  <button (click)="changeAvatar()" ion-button block color="primary">Change avatar</button>


</ion-content>
