<!--
  Generated template for the MessagesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="crimson">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title text-center>
      My messages
    </ion-title>

    <ion-buttons end>
      <button (click)="openUserPrefs()" ion-button icon-only >
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://placeimg.com/100/100/animals">
      </ion-avatar>
      <ion-label>
        <h2>Finn</h2>
        <h3>I'm a big deal</h3>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons start>
      <button (click)="newMessage()" ion-button color="crimson">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button color="crimson" (click)="addBuddy()">
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>